@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../portfolio-website/public/assets/fonts/helvetica-neu.ttf') format('tff');
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('../../portfolio-website/public/assets/fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('../../portfolio-website/public/assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

input,
textarea {
  font-family: "Helvetica Neue";

}